MONGODB_URI=
MONGODB_DB=climate
MONGODB_COLLECTION=climate_daily
STATION=KATL
USER_AGENT=BigDataProject (mailto:your_email@example.com)
STATIONS_CSV=data/reference/weather_stations_master.csv
NOAA_API_TOKEN=
NOAA_DATASET_ID=GHCND
METEOSTAT_BATCH_SIZE=
METEOSTAT_BATCH_INDEX=1
